<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ report.title }}</title>
</head>
<body>

<h1>{{ report.title }}</h1>

<table>
  <tr>
    <th></th>
    {% for monthly_summary in report.monthly_summaries  %}
      <th>{{ monthly_summary.title }}</th>
    {% endfor %}
    <th>Total Periodo</th>
  </tr>
  <tr>
    <th>Vendas Totais</th>
    <td>R$ 5.00</td>
    <td>R$ 18.00</td>
    <td>R$ 23.00</td>
  </tr>
  <tr>
    <th>Vendas com pointz</th>
    <td>R$ 4.00</td>
    <td>R$ 16.00</td>
    <td>R$ 20.00</td>
  </tr>
  <tr>
    <th>Participação</th>
    <td>80%</td>
    <td>89%</td>
    <td>87%</td>
  </tr>
  <tr>
    <th>Valor Moeda Base</th>
    <td>R$ 0.50</td>
    <td>R$ 0.25</td>
    <td> --- </td>
  </tr>
  <tr>
    <th>Emissão Moeda Base</th>
    <td>R$ 2.00</td>
    <td>R$ 4.00</td>
    <td>R$ 6.00</td>
  </tr>
</table>

</body>
</html>